.Modal {
  font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: '-50%';
    transform: translate(-50%, -50%);
    width: 80%;
    height: 65%;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
  }
  .h1{
    color: #ff0000;
  }
  .Overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .skip-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    background: linear-gradient(to right, #8be3fc, #576bff);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
    transition-duration: 0.3s;
  }
  
  .svg {
    width: 12px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: 0.3s;
  }
  
  .skip-button:hover {
    color: transparent;
  }
  
  .skip-button:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: 0.3s;
  }
  
  .skip-button:active {
    transform: translate(3px, 3px);
    transition-duration: 0.3s;
  }
 
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 50px;
}

.slick-prev {
  left: -65px;
}

.slick-next {
  right: -35px;
}
